extends layout

block content
   .blog-masthead
      .container
         nav.blog-nav
            a.blog-nav-item.active(href="/") Home
            a.blog-nav-item(href="/articles/new") New
   div.container(ng-app="App", ng-controller="showTheArticle")
      .row
         .col-sm-8.blog-main#blog-articles
            h2.blog-post-title {{article.title}}
            p.blog-post-meta Written by #[a(target="_blank", href="/users/{{article.author | lowercase}}"){{article.author}}] On {{article.date}}
            p {{article.body}}


